/**************** broad properties ********************************/

html {
  margin: auto;
  max-width: 1440px;
}

body {
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  font-family: "Spartan", sans-serif;
  margin:7% 11.5%;
}

/* titles and font styles*/

p {
  font-weight: 400;
  line-height: 1.4rem;
}

/* containers */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*****************assessment section ******************************/

/*main title and text*/

.main-claim {
  flex-basis: 50%;
}

.claim-title {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 45px;
  width: 70%;
  margin: 0;
}

.claim-paragraph {
  color: hsl(303, 10%, 53%);
  font-weight: 400;
}

/*ratings*/

.ratings {
  flex-basis: 50%;
  text-align: left;
}

.rating-row {
  background-color: hsl(300, 24%, 96%);
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  justify-content: space-around;
}

#row-one {
  margin-left: 0%;
  margin-right: 20%;
}

#row-two {
  margin-left: 10%;
  margin-right: 10%;
}

#row-three {
  margin-left: 20%;
  margin-right: 0%;
}

.rating-star {
  padding-left: 1px;
  padding-right: 1px;
}

/********** Testimonials section************************/

#testimonials {
  padding-top: 5%;
}

.customer-card {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  color: hsl(300, 24%, 96%);
  box-sizing: border-box;
  max-width: 350px;
  height: 234px;
  padding: 25px 25px;
}

.customer {
  justify-content: left;
}

.customer-details {
  padding-left: 5%;
}

.customer-status {
  color: hsl(333, 80%, 67%);
  margin: 0;
}

.customer-img {
  border-radius: 100%;
  width: 2.1em;
  height: 2.1em;
}

.customer-comment {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

#card-two {
  margin-top: 2%;
}

#card-three {
  margin-top: 4%;
}

/************Responsive properties**********************************/

@media screen and (max-width: 768px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    margin: 7%;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  #row-one {
    margin-left: 0%;
    margin-right: 0%;
  }

  #row-two {
    margin-left: 0%;
    margin-right: 0%;
  }

  #row-three {
    margin-left: 0%;
    margin-right: 0%;
  }

  .claim-title {
    width: auto;
  }
  
  .customer.container {
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }

  .customer-comment {
    text-align: left;
  }

}
